body {
    font-family: 'Segoe UI', sans-serif;
}
/* Hover to open dropdown */

.dropdown-hover:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* avoid jump effect */
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.category-card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.product-img {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
}

footer {
    font-size: 0.9rem;
}
.carousel-img {
    height: 400px;
    object-fit: cover;
}
.carousel-inner img {
    border-radius: 8px;
}
